# OS
.DS_Store
Thumbs.db

# Node
node_modules
package-lock.json
*.log
.tmp

# Build
dist
build
.nx
.tsbuildinfo

# Yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Misc
.env
*.sqlite
coverage
